:root {
  --background-color: #201b38;
  --animation-duration: 3.3s;
  --shape-dimaension: 50px;
  --loading-small-dimension: 20px;
  --loading-big-dimension: 275px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #201b38;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.loading {
  width: var(--loading-big-dimension);
  height: var(--loading-big-dimension);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.loading div {
  -webkit-animation-name: loading;
  animation-name: loading;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  position: relative;
}

.loading div,
.loading div span::before {
  -webkit-animation-duration: var(--animation-duration);
  animation-duration: var(--animation-duration);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.loading div span {
  position: absolute;
}

.loading div span::before {
  content: "";
  display: block;
  width: var(--shape-dimaension);
  height: var(--shape-dimaension);
  border-width: 3px;
  border-style: solid;
  border-radius: 12px;
  -webkit-animation-name: span;
  animation-name: span;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.loading div span:nth-child(1) {
  top: 14.64444%;
  left: 14.64444%;
}

.loading div span:nth-child(2) {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.loading div span:nth-child(3) {
  top: 14.64444%;
  right: 14.64444%;
}

.loading div span:nth-child(4) {
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.loading div span:nth-child(5) {
  bottom: 14.64444%;
  right: 14.64444%;
}

.loading div span:nth-child(6) {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.loading div span:nth-child(7) {
  bottom: 14.64444%;
  left: 14.64444%;
}

.loading div span:nth-child(8) {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.loading div span:nth-child(1)::before {
  border-color: #f44336;
}

.loading div span:nth-child(2)::before {
  border-color: #9c27b0;
}

.loading div span:nth-child(3)::before {
  border-color: #3f51b5;
}

.loading div span:nth-child(4)::before {
  border-color: #03a9f4;
}

.loading div span:nth-child(5)::before {
  border-color: #009688;
}

.loading div span:nth-child(6)::before {
  border-color: #8bc34a;
}

.loading div span:nth-child(7)::before {
  border-color: #ffeb3b;
}

.loading div span:nth-child(8)::before {
  border-color: #ff9800;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    width: var(--loading-small-dimension);
    height: var(--loading-small-dimension);
  }
  50% {
    width: 100%;
    height: 100%;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    width: var(--loading-small-dimension);
    height: var(--loading-small-dimension);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    width: var(--loading-small-dimension);
    height: var(--loading-small-dimension);
  }
  50% {
    width: 100%;
    height: 100%;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    width: var(--loading-small-dimension);
    height: var(--loading-small-dimension);
  }
}

@-webkit-keyframes span {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes span {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
